extends page.pug

block content
    .main_text
        p Beginning of an Adventure
        ul(id="messages")
        form(action="")
            input(id="m" autocomplete="off")
            button send
    .char_text
        p Char Name
        p= result.name
        each person, index in result
            p= index + ' : ' + person
    .dungeon
        p dungeon information here