extends page.pug

block content
    form(action = '/run', method = "POST")
        div
            label(for = "login") login:
            input(name = "login")
        br
        div
            label(for = "pass") password:
            input(name = "pass")
        br
        button(type = "submit") enter